/***** GLOBAL *****/
body{
  color: #404040;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0 auto;
  max-width: 960px;
}
img{
  /* responsive images */
  width: 100%;
  height: auto;
}
/***** HEADER *****/
header{
  font-family: 'Inconsolata', monospace;
  margin-top: 100px;
}
nav, h2, h3{
  font-family: 'Oswald', sans-serif;
}
h2{
  background-color: #323639;
  color: #e5e5e5;
  height: 50px;
  margin: 0 auto;
  padding-left: 10px;
}
/***** NAVIGATION *****/
nav{
  background-color: #323639;
  height: 50px;
  left: 0; 
  position: fixed;
  top: 0; 
  width: 100%;
  z-index: 9999;
}
nav li{
  display: inline;
  list-style: none;
  margin: 10px;
}
nav li a{
  color: #e5e5e5; 
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}
nav ul{
  margin-top: 7px;
  padding-left: 0;
}
a:hover{
  color: #cccccc;
}
li img{
  float: right;
  margin-right: 10px;
  height: 30px;
  width: 30px;
}
.resume-nav{
  display: none;
}
/***** SECTIONS *****/
/* ID: about */
#about p{
  padding: 0 15px;
}
/* ID: skills */
.container-skills{
  display: grid; 
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(100px, auto);
  padding: 0 15px;
}
.container-hardskills{
  grid-column: 1/4;
  margin-bottom: 40px;
}
.grid-hardskills{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-items: center; 
}
.progress-bar{
  background-color: #eeeeee; 
  border-radius: 5px;
  height: 20px;
  margin: 10px;
}
.progress-bar span{
  float: right;
  padding-right: 10px;
}
.progress-current {
  background-color: #00a1a7;
  border-radius: 5px;
  color: #ffffff;
  padding-left: 10px;
}
label{
  padding-left: 30px;
}
/* ID: experience*/
#experience h2{
  margin-bottom: 20px;
}
.container-experience{
  padding: 0 15px;
}
.card-experience{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-top: 20px 0;
  padding: 10px;
}
.card-header{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: auto;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 10px;
  text-transform: uppercase;
}
.name-company, .name-role{
  align-self: center;
  font-size: 16px;
}
.card-header img{
  padding-left: 10px;
  width: 50%;
  height: 50px;
}
.card-content p{
  font-style: italic;
}
.card-footer p{
  background-color: #f5f5f5;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  height: 40px;
  line-height: 2;
  padding-left: 10px;
  margin-top: 0;
  margin-bottom: 20px;
}
/* ID: projects*/
#projects h2{
  margin-top: 20px;
}
.container-projects{
  display: grid;
  grid-template-columns: 1fr 1fr;  
  grid-gap: 10px; 
  margin-top: 20px;
  padding: 0 15px;
}
/* FOOTER */
footer{
  background-color: #323639;
  color: #e5e5e5;
  height: 100px;
  left: 0;
  padding: 0 0 10px 0;
  position: absolute;
  text-align: center;
  width: 100%;
}
footer p{
  margin: 0;
}
footer img{
  height: 40px;
  margin: 20px 0 12px 0;
  padding: 0 20px;
  width: 40px;
}
/* RESPONSIVE ADJUSTMENTS */
@media screen and (max-width: 760px){
  .grid-hardskills{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2,1fr);
  }
  .card-header{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
  }
  .card-header img{
    display: none;
  }
}
@media screen and (max-width: 530px){
  .burger-nav{
    display: block;
    height: 40px; 
    width: 100%;
    background: url(iconfinder-icon.svg) no-repeat 98% center;
    cursor: pointer;
  }
  nav ul{
    background-color: #44494c;
    height: 0;
    margin: 0;
    overflow: hidden;
  }
  nav ul.open{
    height: auto;
  }
  nav ul li{
    float: none;
    margin: 0;
    text-align: left;
    width: 100%;
  }
  nav ul li a{
    border-bottom: 1px solid #404040;
    display: block;
    margin: 0;
    padding: 10px;
  }
  .file-nav{
    display: none;
  }
  .resume-nav{
    display: block;
  }
}